body {
    background-color: rgb(240, 240, 245);
}

.place-icon {
    position: relative;
    top: 2em;
    left: 0.3em;
    color: gray;
}

.forgotpassword {
    margin-top: -20px;
}

.bg-custom {
background-color: rgb(109, 58, 109);
color: white;
}

.text-custom {
    color: rgb(109, 58, 109);
}

.landingpage-title{
    text-align: center;
    margin-top: 25vh;
}

.place-center {
margin-top: 10em;
}

@media screen and (max-width: 425px){
    .landingpage-title {
        margin-top: 57%;
    }
}